@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Lexend+Deca:wght@100;500&family=Montserrat:wght@700&family=Noto+Sans:wght@700&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Roboto+Condensed:wght@300&display=swap');
.container {
    min-height: 20vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #1f201f;
    filter: drop-shadow(30px 30px 20px #1f1e1e);
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
.about_us_title {
    font-size: 40px;
    margin-top: 50px;
    padding: 10px;
    font-family: "ABC Ginto Normal Trial";
    color: white;
}
.grid-container {
    filter: drop-shadow(50px 50px 20px #1f1e1e);
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.grid-item {
    align-items: center;
    padding: 20px;
    text-align: center;
}
.grid_item_title {
    font-size: 30px;
    font-family: "Whitney";
    color: white;
}
.grid_item_description {
    font-size: 25px;
    font-family: "Noto Sans";
    color: grey;
}