body {
  background-color: #1f1e20;
  margin: 0;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "ABC Ginto Normal Trial";
  src: url("../public/fonts/ABCGintoNormal-Black-Trial.woff");
}
@font-face {
  font-family: "Whitney";
  src: url("../public/fonts/whitneysemibold.otf");
}
@font-face {
  font-family: "GG Sans";
  src: url("../public/fonts/ggsans-Normal.ttf");
}
