@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Lexend+Deca:wght@100;500&family=Montserrat:wght@700&family=Noto+Sans:wght@700&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Roboto+Condensed:wght@300&display=swap");

.container {
  min-height: 10vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.features_title {
  font-size: 40px;
  padding: 10px;
  font-family: "ABC Ginto Normal Trial";
  color: white;
  margin-top: 80px;
}

.grid-container {
  text-align: justify;
  align-items: center;
  vertical-align: middle;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
}
.grid-item {
  text-align: justify;
  border-radius: 5px;
  padding: 1rem;
}
.grid_item_title {
  text-align: justify;
  font-size: 33px;
  font-family: "ABC Ginto Normal Trial";
  color: white;
  margin-right: 20px;
}
.grid-item-content {
  text-align: justify;
  display: flex;
  justify-content: space-between;
}

.grid-item-description {
  display: flex;
  height: auto;
  font-size: 25px;
  font-family: "Noto Sans";
  color: grey;
  flex: 1;
  margin-right: 300px;
  width: 450px;
  word-wrap: break-word;
  word-break: break-word;
}
.feature_logo_container {
  margin-bottom: 100px;
  margin-right: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  float: right;
}
.feature_logo {
  border-radius: 10px;
  justify-content: right;
  float: right;
  margin-right: 20px;
  vertical-align: middle;
}
/* responsive */


@media only screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }
  .features_title {
    font-size: 35px;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-item {
    padding: 0.5rem;
  }
  .grid_item_title {
    font-size: 30px;
  }
  .grid-item-content {
    flex-direction: column;
  }
  .grid-item-description {
    width: 100%;
    margin-right: 0;
  }
  .feature_logo_container {
    margin-right: 0;
  }
  .feature_logo {
    margin-right: 0;
    float: none;
  }
}