.container {
  min-height: 40vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  animation: fadeIn 1s ease-in-out forwards;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.site_title {
  font-size: 40px;
  padding: 10px;
  font-family: "Whitney";
  color: white;
}

.site_stats {
  font-size: 25px;
  padding: 10px;
  font-family: "Whitney";
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site_stats_item {
  color: #738adb;
  margin-left: 10px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fetch_failed {
  color: red;
  text-align: center;
  font-size: 30px;
  font-family: "ABC Ginto Normal Trial";
  margin-top: 400px;
}

.site_description {
  font-size: 30px;
  padding: 10px;
  font-family: "GG Sans";
  color: grey;
}

.site_title_and_description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.site_logo_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site_logo {
  border-radius: 50%;
  float: right;
  margin-right: 10px;
  vertical-align: middle;
}
.hero_button {
  background-color: #2196F3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: "Whitney";
  margin-right: 20px;
}
.hero_button:hover {
  background-color: #1E88E5;
  color: white;
}
.login_button {
  background-color: #1E88E5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: "ABC Ginto Normal Trial";
  margin-right: 120px;
}
/* responsive */

@media only screen and (max-width: 768px) {
  .container {
    min-height: auto;
    padding: 0;
  }
  .site_title {
    font-size: 30px;
  }
  .site_stats {
    font-size: 20px;
    justify-content: center;
  }
  .site_stats_item {
    margin-left: 0;
  }
  .site_description {
    font-size: 25px;
  }
  .site_title_and_description {
    flex-direction: row;
    justify-content: center;
  }
  .site_logo_container {
    justify-content: center;
  }
  .site_logo {https://github.com/SkyndalexProjects/nextjs-website/pull/2/conflict?name=my-app%252Fsrc%252Fstyles%252Fhome%252Fpage.module.css&ancestor_oid=9f752275c2267ea698d2aa966368c4f31bde1c4f&base_oid=220adda2ea9c666526f5024b627cad46ea6841ba&head_oid=1b8636bb069d2002de855c113e458667cc023cf4
    float: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  .hero_button {
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: "Whitney";
    margin-right: 20px;
  }
  .hero_button:hover {
    background-color: #1E88E5;
    color: white;
  }
  .login_button {
    background-color: #1E88E5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: "ABC Ginto Normal Trial";
    margin-right: 120px;
  }
}