@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Lexend+Deca:wght@100;500&family=Montserrat:wght@700&family=Noto+Sans:wght@700&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Roboto+Condensed:wght@300&display=swap');

.container {
    min-height: 40vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272727;
    font-family: 'Noto Sans';
    text-align: center;
    margin: 0;
    width: 100%;
}

.navbar-list {
    text-decoration: None;
    text-align: center;
}

.nav_links li {
    color: lightgreen;
    display: inline-block;
    padding: 0px 10px;
    text-align: right;
    font-family: 'Noto Sans';
    text-decoration: None;
    font-size: 100%;
}

.nav_links li a {
    color: white;
    text-decoration: None;
    transition: all 0.3s ease 0s;
    font-family: 'Noto Sans';
    text-align: left;
    font-size: 100%;
}

.nav_links li a:hover {
    text-decoration: None;
    transition: all 0.3s ease 0s;
    color: #2bedac;
    font-family: 'Noto Sans';
    text-align: left;
    font-size: 100%;
}
.site_title {
    font-size: 30px;
    padding: 10px;
    font-family: "Noto Sans";
    color: white;
}

.site_description {
    font-size: 20px;
    padding: 10px;
    font-family: "Noto Sans";
    color: grey;
}
.site_title_and_description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.site_logo_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.site_logo {
    border-radius: 50%;
    float: right;
    margin-right: 10px;
    vertical-align: middle;
}