@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Lexend+Deca:wght@100;500&family=Montserrat:wght@700&family=Noto+Sans:wght@700&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Roboto+Condensed:wght@300&display=swap');

.container {
    min-height: 40vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
.site_title {
    font-size: 30px;
    padding: 10px;
    font-family: "Noto Sans";
    color: white;
}

.site_description {
    font-size: 20px;
    padding: 10px;
    font-family: "Noto Sans";
    color: grey;
}
.site_title_and_description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.site_logo_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.site_logo {
    border-radius: 50%;
    float: right;
    margin-right: 10px;
    vertical-align: middle;
}